h1 {
    margin: 6%;
    border-radius: 25px;
    padding: 1.2rem;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
    text-align: center;
    min-width: 480px;
}