body {
    background-color: rgba(219, 204, 233, 0.9);
    font-family: "Open Sans", sans-serif;
}
h1 {
    margin: 6%;
    border-radius: 25px;
    padding: 1.2rem;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
    text-align: center;
    min-width: 480px;
}
#new-appointment-card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 240px;
    margin: 0 6% 6% 0;
    padding: 3% 3% 4% 4%;
    border-radius: 25px;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
}
.flex-container {
    margin: 1% 6%;
    display: flex;
    justify-content: flex-start;
}
#new-appointment-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 204px;
}
#submit-button {
    background-color: rgba(118, 83, 150, 0.596);
    box-shadow: -1px 1px 2px rgba(118, 83, 150, 0.596);
    color: whitesmoke;
    border-width: 1px; 
    border-color: rgba(72, 48, 94, 0.863);
    border-radius: 5px;
    padding: .4rem; 
    margin: 4% 0;
    font-size: .9rem;
    cursor: pointer;
}
.delete-button {
    background-color: rgba(118, 83, 150, 0.596);
    box-shadow: -1px 1px 2px rgba(118, 83, 150, 0.596);
    color: whitesmoke;
    border-width: 1px; 
    border-color: rgba(72, 48, 94, 0.863);
    border-radius: 5px;
    padding: .4rem; 
    /* margin: 4% 0; */
    font-size: .9rem;
    cursor: pointer;
}
.appointment-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 240px;
    margin: 0 6% 6% 0;
    padding: 3% 3% 4% 4%;
    border-radius: 25px;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
}
.input-field {
    background-color: rgb(229, 218, 240);
    border-radius: 5px;
    padding: 0 .3rem;
    height: 30px;
    margin: 4% 0;
    border-width: 1px;
    border-color: rgba(118, 83, 150, 0.596);
}
