body {
    background-color: rgba(219, 204, 233, 0.9);
    font-family: "Open Sans", sans-serif;
}
h1 {
    margin: 6%;
    border-radius: 25px;
    padding: 1.2rem;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
    text-align: center;
    min-width: 480px;
}
.client-card {
    width: 480px;
    margin: 6%;
    padding: 5% 4% 5% 5%;
    border-radius: 25px;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
}
#edit-profile-button {
    background-color: rgba(118, 83, 150, 0.596);
    box-shadow: -1px 1px 2px rgba(118, 83, 150, 0.596);
    color: whitesmoke;
    margin: 1.5rem 0 1.5rem 0;
    border: 1px rgba(72, 48, 94, 0.863);
    border-radius: 5px;
    font-size: .9rem;
    padding: .6rem; 
    cursor: pointer;
}
#flex-container {
    display: flex;
    justify-content: center;
}
#profile-picture {
    max-width: 100%;
}