body {
    background-color: rgba(229, 218, 240, 0.9);
    font-family: "Open Sans", sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
}
li {
    display: inline-block;
}
header {
    margin: 6%;
    padding: .6rem;
    border-radius: 25px;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
}
button {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}
#username-card {
    width: 480px;
    margin: 6%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: rgba(205, 170, 238, 0.596);
    box-shadow: -2px 2px 4px rgba(118, 83, 150, 0.596);
    padding: 1.1rem;
}
.text-input {
    background-color: rgb(229, 218, 240);
    border-radius: 5px;
    padding: .3rem;
}
.submit-button {
    margin: 1.5rem 0 1.5rem 0;
    background-color: rgba(118, 83, 150, 0.596);
    box-shadow: -1px 1px 2px rgba(118, 83, 150, 0.596);
    color: whitesmoke;
    border: 1px rgba(72, 48, 94, 0.863);
    border-radius: 5px;
    padding: .4rem; 
    width: 136px;
    font-size: .9rem;
    cursor: pointer;
}
#flex-container {
    display: flex;
    justify-content: center;
}