body {
    background-color: rgba(221, 202, 240, 0.795);
    font-family: "Open Sans", sans-serif;
}
li {
    display: inline-block;
}
header {
    padding: 2%;
    border-radius: 15px;
    background-color: rgba(205, 170, 238, 0.596);
}
button {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}